.layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.layout-logo {
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 10px;
    left: 20px;
    color: #fff;
    line-height: 30px;
    text-align: center;
}

.ivu-layout-header,
.ivu-menu-dark {
    background: #444;
}

.ivu-layout-header,
.ivu-menu-horizontal {
    height: 50px;
    line-height: 50px;
}

.layout-nav {
    width: 432px;
    margin: 0 auto;
    margin-right: 20px;
}

.layout-footer-center {
    text-align: center;
}

.ivu-layout-content {
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 15px auto;
    min-height: 400px;
}

#content {
    margin-right: 315px;
}