.panel{
    margin-bottom:13px;

    .panel-header{
        padding:10px;
        background:#f6f6f6;
        border-radius:3px 3px 0 0;
    }
}

.space_10 {
    height: 10px;
}

a.dark,
a.dark:active,
a.dark:link,
a.dark:visited {
    color: #666;
}